{% extends 'tracker/base.html' %}
{% load static %}

{% block title %}
Add Grocer
{% endblock %}


{% block contentArea %}

<div class="container-lg bg-white">
    <div class="d-flex justify-content-evenly">
        <div>
            <img src="{% static 'images/image_placeholder.png' %}" alt="" style = "width: 200px; height: 150px;">
        </div>
        <div>

            <!-- ADD -->
            <!-- checkbox if storename exists -->
            <form action="{% url 'addGrocer' %}" method="post">
                {% csrf_token %}
                <label for="store_name">Store name:</label>
                <input type="text" name="store_name" id="store_name"><br>
                
                <label for="branch_address">Branch address:</label>
                <input type="text" name="branch_address" id="branch_address">
        
                <label for="costs">Branch costs:</label>
                <input type="number" name="costs" id="costs"><br>
                
                <form action = "/action_page.php">
                    Image<br>
                    <input type = "file" id = "myFile" name = "filename">
                </form>
                <br>
                <input type="submit" value="Submit">
            </form>


        </div>        
    </div>
</div>

{% endblock %}
