{% extends 'tracker/base.html' %}
{% load static %}

{% block title %}
Record Purchase
{% endblock %}

{% block nav %}
Record Purchase
{% endblock %}

{% block contentArea %}
<script src="{% static 'tracker/addPurchase.js' %}"></script>
<link rel="stylesheet" href="{% static 'tracker/detailView.css' %}">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<style>
.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.hide {
    display: none;
}
</style>
<script>var csrf_token = '{{ csrf_token }}' </script>

<ul class="fab-list">
    <li><i class="fa-regular fa-floppy-disk btn-color-allow" title = "Save" onmouseenter="Hover()" onmouseleave="Hover()"></i></li>

    <div class="popup" style="bottom: 24px; right: 150px;">
        <span class="popuptext" id="myPopup">Record<br>Purchase</span>
    </div>
    <script>
        function Hover() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
    </script>
</ul>


<div class="bg-white outerBox">

    <div class="d-flex align-items-center justify-content-center my-3 pt-5">
        <img src="{% static 'images/image_placeholder.png' %}" alt="" class="mr-3">
        <div class="text-center">Details here (beside image)aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
    </div>


    <div class="searchItems">
        <label for="searchItem">Search Item:</label>
        <input type="text" id="searchItem" name="searchItem">
        <ul id="itemDropdown" class="dropdown-content hide">
            {% for item in items %}
            <li data-id="{{item.id}}" data-brand="{{item.brand}}" data-name="{{item.name}}"
                data-weight="{{item.weight}}">{{item}}
            </li>
            {% endfor %}
        </ul>

        <label for="existingItem">Existing Item:</label>
        <input type="checkbox" id="existingItem" name="existingItem" disabled>
    </div>


    <form class="mt-4" action="{% url 'addGrocer' %}" method="post">
        {% csrf_token %}
        <input type="hidden" id="id" value="">

        Add Item:<br>

        <div class="form-group">
            <label for="item" class="form-label">Item:</label>
            <input class="form-control" type="text" name="item" id="item" required>
        </div>

        <div class="form-group">
            <label for="price" class="form-label">Price:</label>
            <input class="form-control" type="number" name="price" id="price" required>
        </div>

        <br>
        <div class="form-group">
            <label for="brand" class="form-label">Brand:</label>
            <input class="form-control" type="text" name="brand" id="brand" required>
        </div>

        <div class="form-group">
            <label for="weight" class="form-label">Weight/Volume:</label>
            <input class="form-control" type="number" name="weight" id="weight" required>
        </div>

        <br>
        <div class="form-group">
            <label for="travexp" class="form-label">Travel Expenses: [optional]</label>
            <input class="form-control" type="number" name="travexp" id="travexp">
        </div>

        <div class="form-group">
            <input type="submit" value="ADD">
        </div>
    </form>

    <div id="basket" class="container-lg bg-brown">

    </div>

</div>

{% endblock %}