{% extends 'tracker/base.html' %}
{% load static %}

{% block title %}
Compare Grocers
{% endblock %}

{% block nav %}
Compare Grocers
{% endblock %}

{% block contentArea %}
<div class="container-fluid mt-4">
    <div class="row">
        <!-- Left column for Grocer 1 -->
        <div class="col-md-5">
            <h3>Grocer A</h3>
            {% for entry in diffA %}
            <div class="mb-5">
                <p>{{ entry.item.brand }} - {{ entry.item.name }}</p>
                <p>PRICE: {{ entry.price }}</p>
            </div>
            {% endfor %}
        </div>

        <!-- Middle column for Common Items -->
        <div class="col-md-2">
            <h3>Common Items</h3>
            <!-- Loop through common items and display details -->
            {% for entry in common %}
                <div class="mb-3">
                    <p>{{ entry.item.brand }} - {{ entry.item.name }}</p>
                    <p>PRICE: {{ entry.price_A }}-{{ entry.price_B }}</p>
                    <!-- Add other item details as needed -->
                </div>
            {% endfor %}
        </div>

        <!-- Right column for Grocer 2 -->
        <div class="col-md-5">
            <h3>Grocer B</h3>
            {% for entry in diffB %}
            <div class="mb-5">
                <p>{{ entry.item.brand }} - {{ entry.item.name }}</p>
                <p>PRICE: {{ entry.price }}</p>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}
