{% extends 'tracker/base.html' %}
{% load static %}

{% block title %}
Add Grocer
{% endblock %}


{% block contentArea %}

<div class="container-lg bg-white" style = "border-radius:40px; padding: 35px; margin: 0; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%,-50%); transform: translate(-50%, -50%);">
    <div class="d-flex justify-content-evenly">
        <div>
            <img src="{% static 'images/image_placeholder.png' %}" alt="" style = "width: 200px; height: 150px;">
        </div>
        <div>

            <form action="{% url 'addGrocer' %}" method="post">
                {% csrf_token %}
                <label for="store_name">Store name:</label>
                <input type="text" name="store_name" id="store_name" value="{{grocer.name}}"><br>
        
                <label for="branch_address">Branch address:</label>
                <input type="text" name="branch_address" id="branch_address" value="{{grocer.branch.address}}">
        
                <label for="costs">Branch costs:</label>
                <input type="number" name="costs" id="costs" value="{{grocer.branch.costs}}"><br>
                
                <form action = "/action_page.php">
                    Image<br>
                    <input type = "file" id = "myFile" name = "filename">
                </form>
                <br>
                <input type="submit" value="Submit">
            </form>

        </div>        
    </div>
</div>

{% endblock %}
