{% extends 'tracker/base.html' %}
{% load static %}
{# https://www.digitalocean.com/community/tutorials/working-with-django-templates-static-files}

{% block title %}
home
{% endblock %}


{% block contentArea %}
<p> hi </p>

QUICK LINKS
<dl class="row">

    <i class="fa-solid fa-bag-shopping"></i>
    <i class="fa-solid fa-x"></i>
    <i class="fa-regular fa-pen-to-square"></i> 
    <i class="fa-solid fa-file-export"></i>
    
    <dt class="col-sm-3">add grocer</dt>
    <dd class="col-sm-9"><a href="{% url 'addGrocer' %}">add grocer</a></dd>

    <dt class="col-sm-3">edit grocer (pk = 2)</dt>
    <dd class="col-sm-9"><a href="{% url 'editGrocer' 2 %}">edit grocer</a></dd>

    <dt class="col-sm-3">all Grocer</dt>
    <dd class="col-sm-9"><a href="{% url 'allGrocer' %}">all Grocer</a></dd>

    <dt class="col-sm-3">add purchase</dt>
    <dd class="col-sm-9"><a href="{% url 'addPurchase' %}">add purchase</a></dd>

    <dt class="col-sm-3">compare</dt>
    <dd class="col-sm-9"><a href="{% url 'compare' %}">compare</a></dd>

</dl>

{% endblock %}
