{% extends 'tracker/base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block nav %}
Home
{% endblock %}


{% block contentArea %}
<p> hi </p>

QUICK LINKS
<ul class="fab-list">
    <li><i class="fa-solid fa-bag-shopping"></i></li>
    <li><i class="fa-solid fa-x"></i></li>
    <li><i class="fa-regular fa-pen-to-square"></i> </li>
    <li><i class="fa-solid fa-file-export"></i></li>
</ul>




<dl class="row">


    
    <dt class="col-sm-3">add grocer</dt>
    <dd class="col-sm-9"><a href="{% url 'addGrocer' %}">add grocer</a></dd>

    <dt class="col-sm-3">edit grocer (pk = 2)</dt>
    <dd class="col-sm-9"><a href="{% url 'editGrocer' 2 %}">edit grocer</a></dd>

    <dt class="col-sm-3">all Grocer</dt>
    <dd class="col-sm-9"><a href="{% url 'allGrocer' %}">all Grocer</a></dd>

<br><br>

    <dt class="col-sm-3">all Item</dt>
    <dd class="col-sm-9"><a href="{% url 'allItems' %}">all items</a></dd>

    <dt class="col-sm-3">add item</dt>
    <dd class="col-sm-9"><a href="{% url 'addProduct' %}">add item</a></dd>

    <dt class="col-sm-3">edit item</dt>
    <dd class="col-sm-9"><a href="{% url 'editProduct' 1 %}">edit item</a></dd>

    <br><br>

    <dt class="col-sm-3">add purchase</dt>
    <dd class="col-sm-9"><a href="{% url 'addPurchase' 2 %}">add purchase</a></dd>

    <dt class="col-sm-3">compare</dt>
    <dd class="col-sm-9"><a href="{% url 'compare' %}">compare</a></dd>
    

</dl>

<ul>
    <li>list </li>
    <ul>
        <li>-grocery     	|| add, edit, details</li>
        <li>-product/items	|| add, edit, details</li>
    </ul>
    <li>compare</li>
    <li>add purchase</li>
</ul>





{% endblock %}
