{% extends 'tracker/base.html' %}
{% load static %}

{% block title %}
Grocer List
{% endblock %}

{% block nav %}
Grocer List
{% endblock %}


{% block contentArea %}

<ul class="fab-list">
    <data action = "{% url 'addGrocer' %}">
    <i class="fa-solid fa-plus" title = "Add Grocer"></i></li>
    </data>
</ul>

<div class="container w-75 mb-2 mx-auto bg-white">
    {% for branch in grocerlist %}
    <div class="grocer-card row mb-5 mx-auto w-75">

        <div class="grocer-logo col-3">
            <a href="{% url 'grocerDetail' branch.id %}">
            {% if branch.image %}
            <img src="{{ branch.image.url }}" alt="">
            {% else %}
            <img src="{% static 'images/image_placeholder.png' %}" alt="">
            {% endif %}
            </a>
        </div>

        <div class="grocer-details col-8">
            <a href="{% url 'grocerDetail' branch.id %}">
                [{{ branch.grocery_store.name|upper}}] {{ branch.address }}
            </a>
            ---------------------------------------
            <div>Overall Cost:</div>
            <div>Travel Cost:</div>
            <div>Efficiency:</div>
            <div>Popularity:</div>
        </div>

        <div class="grocer-actions col-1">
            <a href="{% url 'editGrocer' branch.id %}" class="btn btn-primary">Edit</a>
            <a href="" class="btn btn-danger">Delete</a>
        </div>

    </div>
    {% endfor %}
</div>


{% endblock %}