{% extends 'tracker/base.html' %}
{% load static %}

{% block title %}
Store detail
{% endblock %}

{% block contentArea %}
<ul class="fab-list">
    <li><i class="fa-solid fa-bag-shopping" title = "Purchase"></i></li>
    <li><i class="fa-regular fa-pen-to-square" title = "Edit"></i></li>
    <li><i class="fa-solid fa-file-export" title = "Export"></i></li>
    <li><i class="fa-solid fa-trash" title = "Delete"></i></li>
</ul>

{% if  branch.image %}
<img width="75" src="{{ branch.image.url }}" alt="">
{% else %}
<img width="75" src="{% static 'images/image_placeholder.png' %}" alt="">
{% endif %}

<div>{{ branch.grocery_store.name }}</div>
<div>-----------</div>
<div>Branch: {{ branch.address }}</div>
<div>Number of visits: {{ visits }}</div>
<div>Average Travel Expenses: {{ costs }}</div>

<div class="purchases">
    <span class="purchases-caption">Purchases</span>
    <br>
    {% for item in itemsHistory %}
        <a href="{% url 'productDetail' item.item.id %}">
            {{ item.item.brand }}
            {{ item.price }}
            <br>
            {{ item.item.name }}
            {{ item.item.weight }}
        </a>
        <br><br>
    {% endfor %}
</div>

{% endblock %}