{% extends 'tracker/base.html' %}
{% load static %}

{% block title %}
Store detail
{% endblock %}


{% block nav %}
Grocer Profile
{% endblock %}

{% block contentArea %}
<link rel="stylesheet" href="{% static 'tracker/detailView.css' %}">


<ul class="fab-list">
    <li><i data-action = "{% url 'addPurchase' branch.id %}" class="fa-solid fa-bag-shopping" title = "Purchase"></i></li>
    <li><i data-action = "{% url 'editGrocer' branch.id %}" class="fa-regular fa-pen-to-square" title = "Edit"></i></li>
    <li><i class="fa-solid fa-file-export" title = "Export"></i></li>
    <li><i class="fa-solid fa-trash" title = "Delete"></i></li>
</ul>
<div class="bg-white outerBox">
    
    <div class="d-flex justify-content-center my-3 pt-5">
        {% if  branch.image %}
        <img class="branchImg" src="{{ branch.image.url }}" alt="" class="mr-3">
        {% else %}
        <img class="branchImg" src="{% static 'images/image_placeholder.png' %}" alt="" class="mr-3">
        {% endif %}
        <div class="info_desc">
            <div class="text-center info_title mx-2">{{ branch.grocery_store.name }}</div>

            <label for="" class="form-label">Branch:</label>
            <input type="text" name="" id="" disabled class="form-control" value="{{ branch.address }}">

            <label for="" class="form-label">Number of visits:</label>
            <input type="text" name="" id="" disabled class="form-control" value="{{ visits }}">

            <label for="" class="form-label">Average Travel Expenses:</label>
            <input type="text" name="" id="" disabled class="form-control" value="{{ costs }}">
            
        </div>
    </div>

    

    
    <div class="bottomDiv mt-5 px-4 py-3">
        <div class="bottomDiv-caption mb-3">Purchases</div>

        {% for item in itemsHistory %}
        <div class="row bg-white my-2 mx-1 entryRow">       
            <div class="row">
                <div class="col-md-6">{{ item.item.brand }}</div>
                <div class="col-md-6 text-end">{{ item.price }}</div>
            </div>
            <div class="row">
                <div class="col-md-6"><a href="{% url 'productDetail' item.item.id %}">{{ item.item.name }}</a></div>
                <div class="col-md-6 text-end">{{ item.item.weight }}</div>
            </div>
        </div>

        
        {% endfor %}
    </div>
</div>
    
{% endblock %}