{% extends 'tracker/base.html' %}
{% load static %}

{% block title %}
item detail
{% endblock %}

{% block contentArea %}
<ul class="fab-list">
    <li><i data-action = "{% url 'editProduct' item.id %}" class="fa-regular fa-pen-to-square" title = "Edit"></i></li>
    <li><i class="fa-solid fa-trash" title = "Delete"></i></li>
</ul>

<img src="" alt="">
<div>{{ item.name }}</div>
<div>-----------</div>
<div>Brand: {{ item.brand }}</div>
<div>Weight: {{ item.weight }} g</div>
<div>Average Price {{ price_avg }} </div>
<div>Lowest Price {{ price_min }}</div>
<div>Times Purchased: {{ timesBought }}</div>

<div class="bg-gray">
    <span class="product-caption">Notes</span>
</div>
<div class="bg-gray">
    Price History
</div>

{% endblock %}