.branchImg{
    margin-right: 5%;
    border-radius: 10px;
    height: 100%;
    width: 30%;

}
.info_desc{
    width: 57%;
    display: inline-block;
}
.outerBox {
    width: 55%;
    height: 100%;
    display: flex;
    flex-flow: column;
    margin: auto;
    margin-top: 2.5%;
    border-radius: 20px;
    padding-left: 7%;
    padding-right: 7%;
    filter: drop-shadow(5px 5px 5px #0006);
}

.info_title {
    font-weight: bold;
    border-bottom: 2px solid #555; /* You can adjust the border properties as needed */
    padding-bottom: 5px; 
}

.bottomDiv{
    border-radius: 20px;
    background-color: #856F50;
    margin-bottom: 4rem;
}
.entryRow{
    border-radius: 10px;
    padding: 0.75rem 0.5rem;
}

.bottomDiv-caption{
    color: white;
    font-weight: 700;
}



@media (max-width: 1400px) {
    .outerBox {
        width: 70%;
    }
}

@media (max-width: 1150px) {
    .outerBox {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .outerBox {
        width: 95%;
    }
}

@media (min-width: 2000px) {
    .outerBox {
        width: 1000px;
        height: 1110px;
    }
}
