@font-face {
    font-family: Inter;
    src: url(/static/tracker/fonts/inter/Inter-V.ttf);
  }
@font-face {
    font-family: Mandali;
    src: url(/static/tracker/fonts/mandali/Mandali-Regular.ttf);
}
.bg-brown{
    background-color: #938064;
}
.nav-body{
    background-color: #ffe1b4;
    height: 89px;
}
.nav-title{
    color: #513012;
}
.font-inter{
    font-size: 36px;
    font-family: Inter;
    font-weight: 800;
    text-align: bottom;
}
.font-mandali{
    font-size: 24px;
    font-family: Mandali;
    font-weight: 400;
    text-align: center;
}
.separator{
    border-width: 0px 2px 0px 0px;
    border-style: solid;
    color: #938064;

}