@font-face {
    font-family: Inter;
    src: url(/static/tracker/fonts/inter/Inter-V.ttf);
}
@font-face {
    font-family: Mandali;
    src: url(/static/tracker/fonts/mandali/Mandali-Regular.ttf);
}
.bg-brown{
    background-color: #938064;
}
.nav-body{
    background-color: #ffe1b4;
    height: 89px;
}
.nav-title{
    color: #513012;
}
.font-inter-nav{
    font-size: 36px;
    font-family: Inter;
    font-weight: 800;
}
.font-inter-placeholder{
    font-size: 13.66px;
    font-family: Inter;
    font-weight: 400;
    color: #9B9B9B;
    background-color: #D9D9D9;

}
.font-inter-label{
    font-size: 16.75px;
    font-family: Inter;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.font-inter-grocer{
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    margin: 20px 0px 20px 0px;
    white-space: nowrap;
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.font-inter-grocerdetails{
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
}
/* ---------------- */

.grocer-card{
    height: 350px;
    display: flex;
}
.grocer-logo{
    background-color: #FDE0B6;
    border-radius: 40px 0px 0px 40px;
    display: flex;
    flex: 6;
    align-items: center;
    justify-content: center;
}
.grocer-logo img{
    margin: 50px;
    width: 347.13px;
    height: 265.26px;
    border-radius:20px; 
}
.grocer-details{
    flex: 14;
    padding: 20px;
    background-color: #FDE0B6;
}
.grocer-actions{
    background-color: #5B4B35;
    border-radius: 0px 40px 40px 0px;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.grocer-action-buttons{
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

/* -----basket----- */
.basket, .purchases{
    background-color: #856F50;
}
.bg-gray{
    background-color: #D9D9D9;
}

/* ---------------- */
.fab-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column; /* Display items vertically */
    align-items: flex-end; /* Align to the bottom right */
}

.fab-list li {
    margin-bottom: 10px; /* Adjust the spacing between items */
}

.fab-list i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007BFF;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-decoration: none;
    font-size: 24px;
    transition: background-color 0.2s;
}

.fab-list i:hover {
    background-color: #0056b3;
    cursor: pointer;
}
.font-mandali{
    font-size: 24px;
    font-family: Mandali;
    font-weight: 400;
    text-align: center;
}
.separator{
    border-width: 0px 2px 0px 0px;
    border-style: solid;
    color: #938064;

}
.rounded-border-groceradd{
    border-radius:40px; 
    padding: 35px; 
    margin: 0; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    -ms-transform: translate(-50%,-50%); 
    transform: translate(-50%, -50%);
    background-color: white;
    width: 870px; 
    height: 310px;
}

.rounded-border-grocerlist{
    border-radius:40px; 
    padding: 5%; 
    margin-top: 48px;
    background-color: white;
    width: 1671px;
}