{% extends 'tracker/base.html' %}
{% load static %}

{% block title %}
Add Grocer
{% endblock %}

{% block nav %}
{% if edit %}
    Edit Grocer
{% else %}
    Add Grocer
{% endif %}
{% endblock %}

{% block contentArea %}

{% if edit %}
<ul class="fab-list">
    <li><i class="fa-regular fa-floppy-disk btn-color-allow" title = "Save"></i></li>
</ul>
{% endif %}



<div class="">
    <div class="grocer-add add-edit main-container d-flex justify-content-evenly container-lg rounded-border-groceradd">
        {% if  branch.image %}
            <img class="preview-img" src="{{ branch.image.url }}" alt="">
        {% else %}
            <img class="preview-img" src="{% static 'images/image_placeholder.png' %}" alt="">
        {% endif %}

        <div class="form-container">
            <form action="{{ request.path }}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% if edit %}
                    <input type="hidden" name="id" value="{{ branch.id }}">
                {% endif%}

                <div class="mb-3">
                    <input type="text" name="store_name" id="store_name" class="form-control font-inter-placeholder" value="{{ branch.grocery_store.name }}" placeholder="Store Name">
                </div>
                <div class="mb-3">
                    <label for="branch_address" class="form-label font-inter-label">Branch Address:</label>
                    <input type="text" name="branch_address" id="branch_address" class="form-control font-inter-placeholder" value="{{ branch.address }}" placeholder="Branch Address">
                </div>
                <div class="mb-3">
                    <label for="branch_image" class="form-label font-inter-label">Picture:</label>
                    <input type="file" name="branch_image" id="branch_image" class="form-control">
                </div>
                <div class="mb-3">
                    <input class="submit btn-color-allow" type="submit" value="Submit">
                </div>
            </form>


        </div>
    </div>
</div>

{% endblock %}